{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <p>
         the reason that there are so few good conversationalists is that most people are thinking about what they are going to say and not about what the others are saying.        </p>
    </article>
{% endblock %}
